.successful-purchase {
    width: 100%;
    margin-top: 67px;
    padding: 0px min(calc((100vw - 260px) / 2),24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.successful-purchase .success-message {
    margin: 24px auto 12px;
    font-size: 24px; 
    font-weight: 700;
    line-height: 29px;
    color: #247A6B;
    text-align: center;
}

.successful-purchase .purchase-information {
    margin: 28px 0px 0px;
    font-size: 22px;
    line-height: 26px;
}

.successful-purchase .purchase-information > div {
    margin-bottom: 24px;
}

.successful-purchase .purchase-information .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.successful-purchase .return-home {
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;
    margin: 48px auto 16px;
}