.seats-screen {
    width: 100%;
    margin-top: 67px;
    padding: 0px min(calc((100vw - 260px) / 2),24px) 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seats-screen > p {
    display: inline-block;
    margin: 39px 0px;
    font-size: 24px; 
}

.seats-screen .session-seats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 18px;
}

.seats-screen .seats-explanation {
    display: flex;
    padding: 16px 56px;
    justify-content: space-between;
}

.seats-screen .seats-explanation .example {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.seats-screen .seats-explanation .example .seat {
    margin-bottom: 6px;
}


.seats-screen .seat {
    height: 26px;
    width: 26px;
    border: 1px solid #808F9D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px ;
}


.seats-screen .seat.selected {
    background-color: #8DD7CF;
}

.seats-screen .seat.available {
    background-color: #C3CFD9;
}

.seats-screen .seat.unavailable {
    background-color: #FBE192;
}

.seats-screen .clients-info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.seats-screen .clients-info input {
    width: 100%;
    height: 51px;
    margin: 6px 0px 16px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    outline : none;
    padding-left: 18px;
    font-size: 18px;
}

.seats-screen .clients-info input::placeholder {
    color: #AFAFAF;
    font-style: italic;
}

.seats-screen .forward {
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;
    margin: 40px auto 0px;
}