.sessions-screen {
    width: 100%;
    margin-top: 67px;
    padding-bottom: 117px;
    font-size: 24px;
}

.sessions-screen > p {
    width: 100%;
    display: inline-block;
    margin: 39px 0px;
    text-align: center;    
}

.sessions-screen .sessions {
    font-size: 20px;
    margin-left: 24px;
    flex-wrap: wrap;
}

.sessions-screen .sessions p {
    width: 100%;
    display: inline-block;
    margin-bottom: 24px;
}

.sessions-screen .sessions button {
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    margin: 0px 8px 24px 0px;
    font-size: 18px;
    color: #FFFFFF;
}